@import "../../../../utils/mixins-meta.scss";

section.layer {
  position: relative;
  min-height: $change-password-height;
  width: 100%;

  section.wrapper {
    @include panel();

    h1 {
      @include h1(2px);
      text-align: center;
    }

    h2 {
      @include h2(30px);
      text-align: center;
    }

    div.info-set {
      margin: 10px 0;
    }

    form {
      @include form-field($input-width, $input-height, block, 0 auto);
    }

    button {
      @include button($input-width, $input-height, block);
      margin: 20px auto;
    }
  }
}
