@import "../../../../utils/mixins-meta.scss";

section.change-password-layer {
  position: relative;
  min-height: $change-password-height;
  width: 100%;

  section.change-password-wrapper {
    @include panel();

    h1 {
      @include h1(2px);
      text-align: center;
    }

    h2 {
      @include h2(30px);
      text-align: center;
    }

    form {

      div.info-set {
        @include form-field($input-width, $input-height, block, 0 auto);
        margin: 10px 0;
      }
    }

    button {
      @include button($input-width, $input-height, block);
      margin: 20px auto;
    }
  }
}
