<section class="change-password-layer">
  <section class="change-password-wrapper animate__animated animate__fadeIn">
    <form [formGroup]= 'this.passwordForm' (ngSubmit)='this.save()'>
      <h2>Change your password</h2>
      <div class="info-set">
        <mat-form-field appearance='fill'>
          <mat-label>Current Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName='currentPassword' autocomplete="off">
          <mat-error *ngIf="passwordForm.get('currentPassword').hasError('required')"><strong>This field is required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance='fill'>
          <mat-label>New Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName='newPassword' autocomplete="off">
          <mat-error *ngIf="passwordForm.get('newPassword').hasError('minlength') && !passwordForm.get('newPassword').hasError('required') && !passwordForm.get('newPassword').hasError('mustMatch')"><strong>Password must contain at least 6 signs</strong></mat-error>
          <mat-error *ngIf="passwordForm.get('newPassword').hasError('required')"><strong>This field required</strong></mat-error>
        </mat-form-field>
        <mat-form-field appearance='fill'>
          <mat-label>New Re-Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName='newRePassword' autocomplete="off">
          <mat-error *ngIf="passwordForm.get('newRePassword').hasError('mustMatch') && !passwordForm.get('newRePassword').hasError('required')"><strong>Both passwords should be the same</strong></mat-error>
          <mat-error *ngIf="passwordForm.get('newRePassword').hasError('minlength') && !passwordForm.get('newRePassword').hasError('required') && !passwordForm.get('newRePassword').hasError('mustMatch')"><strong>Password must contain at least 6 signs</strong></mat-error>
          <mat-error *ngIf="passwordForm.get('newRePassword').hasError('required')"><strong>This field required</strong></mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button type='submit' [disabled]="!passwordForm.valid">Confirm</button>
    </form>
    <button mat-raised-button (click)="this.redirectToEditProfile()">Back</button>
  </section>
</section>


