<section class="layer">
  <section class="wrapper animate__animated animate__fadeIn">
    <form [formGroup]= 'this.passwordForm' (ngSubmit)='this.save()'>
      <h1>Welcome, User</h1>
      <h2>Edit your password.</h2>
      <div class="info-set">
        <mat-form-field appearance='fill'>
          <mat-label>Current Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName='currentPassword' autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance='fill'>
          <mat-label>New Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName='newPassword' autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance='fill'>
          <mat-label>New Re-Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName='newRePassword' autocomplete="off">
        </mat-form-field>
      </div>
      <button mat-raised-button type='submit'>Confirm</button>
    </form>
    <button mat-raised-button>Back</button>
  </section>
</section>


