@import '../../../../utils/mixins-meta.scss';
@import '../../../../utils/theme-meta.scss';

section.booking-history-wrapper {
  position: relative;
  min-height: $booking-history-height;
  width: 100%;
  background-image: url(./../../../../../assets/images/booking_history.jpg);
  @include background-image();
  background-position: center center;

  section.booking-history-layer {
    min-height: 100vh;
    width: 100vw;
    background-color: $panel-wrapper-bg;
  }

  div.panel-container {
    margin: 0 auto;
    width: $panel-width;
    padding: $panel-padding;
    background-color: $panel-part-bg;

    h2 {
      @include h2(30px);
      text-align: center;
    }

    @include tabs();
  }
}
