@import "../../../../utils/mixins-meta.scss";

section.calendar-wrapper {
  position: relative;
  width: 100%;
  background-image: url(./../../../../../assets/images/calendar_bgc.jpg);
  @include background-image();
  background-position: center -30%;

  section.calendar-layer {
    min-height: $calendar-height;
    width: 100vw;
    background-color: $calendar-wrapper-bg;

    app-calendar-panel {
      position: absolute;
      top: 7%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    div.calendar {
      background-color: $calendar-bg;
      position: absolute;
      top: 55%;
      left: 50%;
      width: 100vw;
      padding: 30px 0;
      transform: translate(-50%, -50%);

      tr {
        display: flex;
        width: 1500px;
        margin: 0 auto;
      }

      tr.header {
        border-bottom: 3px solid $tr-header-border;
      }

      tr.content {
        height: 180px;
        border-bottom: 3px solid $tr-border;

        .app-calendar-card.empty {
          opacity: 0;
          cursor: default;
        }
      }
    }
  }
}
