@import "../../../../meta/mixins-meta.scss";

section.wrapper {
  position: relative;
  width: 100%;
  background-image: url(../../../../../assets/images/calendar_bgc.jpg);
  @include background-image();
  background-position: center -30%;

  section.layer {
    min-height: $calendar-height;
    width: 100vw;
    background-color: $calendar-wrapper-bg;

    div.calendar {
      background-color: $calendar-bg;
      position: absolute;
      top: 52%;
      left: 50%;
      width: 100vw;
      padding: 30px 0;
      transform: translate(-50%, -50%);

      tr {
        display: flex;
        width: 1500px;
        margin: 0 auto;
      }

      tr.header {
        border-bottom: 3px solid $tr-header-border;
      }

      tr.content {
        height: 180px;
        border-bottom: 3px solid $tr-border;
      }
    }
  }
}
