<section class="calendar-wrapper">
  <section class="calendar-layer">
    <app-calendar-panel class="animate__animated animate__fadeIn"></app-calendar-panel>
    <div class="calendar animate__animated animate__fadeIn">
      <tr class="header">
        <app-header-button [isLeft]='true'></app-header-button>
        <app-calendar-header *ngFor="let date of calendarData.display_dates" [dateToDisplay]='date'></app-calendar-header>
        <app-header-button [isLeft]='false'></app-header-button>
      </tr>
      <tr *ngFor="let hour of hours; let i = index" class="content">
        <app-calendar-hour [hour]='hour'></app-calendar-hour>

        <ng-container *ngFor="let dateToDisplay of calendarData.display_dates">
          <app-calendar-card *ngIf="checkIfActivityExists(hour, dateToDisplay); else branch"
            [activity]="getActivity(hour, dateToDisplay)" [visible]="true">
          </app-calendar-card>
        </ng-container>

        <ng-template #branch>
          <app-calendar-card class="empty" [visible]="false"></app-calendar-card>
        </ng-template>
      </tr>
    </div>
  </section>
</section>
