@import './../../../../utils/mixins-meta.scss';

section.client-info-layer {
  position: relative;
  min-height: $client-info-height;
  width: 100%;

  section.client-info-wrapper {
    @include panel();

    h1 {
      @include h1(2px);
    }

    h2 {
      @include h2(30px);
    }


    }

    form {

      div.info-set {
        margin: 10px 0;

        @include form-field($input-width, $input-height, inline-block, 0 15px 0 0);

        .mat-icon {
          color: $fg-primary-2;
        }

        p{
          @include p(20px);
        }
    }
  }

  button{
    @include button($input-width, $input-height, block);
    margin: 20px auto;
  }
}

