<section class="client-info-layer">
  <section class="client-info-wrapper animate__animated animate__fadeIn">
    <form [formGroup]="this.clientInfoForm" (ngSubmit)="this.save()">
      <h1>Welcome, User</h1>
      <h2>Edit your profile</h2>
      <div class="info-set">
        <p>Personal Data</p>
        <div class="pair-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              formControlName="name"
              [disabled]="true"
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              formControlName="surname"
              [disabled]="true"
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Pesel</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              formControlName="pesel"
              [disabled]="true"
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Birth Date</mat-label>
            <input
              matInput
              type="text"
              autocomplete="off"
              formControlName="birthDate"
              [disabled]="true"
            />
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="info-set">
        <p>Contact Data</p>
        <div class="pair-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input
              matInput
              type="text"
              formControlName="country"
              autocomplete="off"
            />
            <mat-error *ngIf="clientInfoForm.get('country').hasError('required')"><strong>Country is required</strong></mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input
              matInput
              type="text"
              formControlName="city"
              autocomplete="off"
            />
            <mat-error *ngIf="clientInfoForm.get('city').hasError('required')"><strong>City is required</strong></mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              type="text"
              formControlName="postalCode"
              autocomplete="off"
            />
            <mat-error *ngIf="clientInfoForm.get('postalCode').hasError('required')"><strong>Postal code is required</strong></mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input
              matInput
              type="text"
              formControlName="street"
              autocomplete="off"
            />
            <mat-error *ngIf="clientInfoForm.get('street').hasError('required')"><strong>Address is required</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="info-set">
        <p>Email and Phone Number</p>
        <div class="pair-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              formControlName="email"
              autocomplete="off"
            />
            <mat-error *ngIf="clientInfoForm.get('email').hasError('email') && !clientInfoForm.get('email').hasError('required')">
              <strong>Enter email in proper form</strong></mat-error>
            <mat-error *ngIf="clientInfoForm.get('email').hasError('required')"><strong>Email is required</strong></mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              type="text"
              formControlName="phoneNumber"
              autocomplete="off"
            />
            <mat-error *ngIf="clientInfoForm.get('phoneNumber').hasError('required')"><strong>Phone number is required</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="submit" [disabled]="!clientInfoForm.valid">Confirm</button>
    </form>
    <button mat-raised-button (click)="this.changePassword()">
      Change Password
    </button>
  </section>
</section>
