<section class="layer">
  <section class="wrapper animate__animated animate__fadeIn">
    <form [formGroup]= 'this.clientInfoForm' (ngSubmit)='this.save()'>
      <h1>Welcome, User</h1>
      <h2>Edit your profile</h2>
      <div class="info-set">
        <p>Personal Data</p>
        <div class="pair-wrapper">
          <mat-form-field appearance='fill'>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" type="text" autocomplete="off" [disabled]='true'>
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Surname" type="text" autocomplete="off" [disabled]='true'>
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>Pesel</mat-label>
            <input matInput placeholder="123456789" type="text" autocomplete="off" [disabled]='true'>
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>Birth Date</mat-label>
            <input matInput placeholder="00-00-0000" type="date" autocomplete="off" [disabled]='true'>
          </mat-form-field>
        </div>
      </div>
      <div class="info-set">
        <p>Contact Data</p>
        <div class="pair-wrapper">
          <mat-form-field appearance='fill'>
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" type="text" formControlName='country' autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>City</mat-label>
            <input matInput placeholder="City" type="text" formControlName='city' autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>Postal Code</mat-label>
            <input matInput placeholder="00-000" type="text" formControlName='postalCode' autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Street/Number/Home" type="text" formControlName='address' autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <div class="info-set">
        <p>Email and Phone Number</p>
        <div class="pair-wrapper">
          <mat-form-field appearance='fill'>
            <mat-label>Email</mat-label>
            <input matInput placeholder="email@example.com" type="text" formControlName='email' autocomplete="off">
          </mat-form-field>
          <mat-form-field appearance='fill'>
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="000 00 00" type="text" formControlName='phoneNumber' autocomplete="off">
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type='submit'>Confirm</button>
    </form>
    <button mat-raised-button>Change Password</button>
  </section>

</section>
