@import "../meta/size-meta.scss";
@import "../meta/theme-meta.scss";

//General

@mixin background-image {
  background-size: cover;
  background-attachment: fixed;
}

@mixin absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin panel {
  @include absolute();
  width: $panel-width;
  padding: $panel-padding;
  background-color: $panel-part-bg;
}

//Text

@mixin h1($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $h1-font-size;
  font-weight: 400;
  color: $alt-font-color;
}

@mixin h2($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $h2-font-size;
  font-weight: 600;
  color: $alt-font-color;
}

@mixin alt-h2($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $h2-font-size;
  font-weight: 600;
  color: $alt-font-color;
}

@mixin p($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $p-font-size;
  font-weight: 600;
  color: $alt-font-color;
}

@mixin dialog-p($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $dialog-p-font-size;
  font-weight: 500;
  color: $p-font;
}

//buttons

@mixin button($input-width, $input-height, $display) {
  display: $display;
  width: $input-width;
  height: $input-height;
  padding-left: 15px;
  background-color: $button-bg-color;
  border: none;
  border-radius: 3px;
  font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  font-weight: 500;
  color: $button-fg-color;
  text-align: left;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $all-primary-2;
  }

  &:focus {
    outline: none !important;
  }
}

@mixin toolbar-button {
  padding: $toolbar-button-padding;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $toolbar-bg-color;
  font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
  font-size: $toolbar-button-font-size;
  font-weight: 700;
  color: $toolbar-button-fg-color;
  transition: 0.3s linear;
  cursor: pointer;

  .mat-icon {
    display: inline-block;
    padding-right: 27px;
    vertical-align: middle;
    color: $toolbar-button-icon-fg-color;
  }

  &:hover {
    border-bottom: 2px solid $toolbar-button-active-fg-color;
    color: $toolbar-button-active-fg-color;
  }

  &:focus {
    outline: none !important;
  }
}

@mixin toolbar-button-active {
  border-bottom: 2px solid $toolbar-button-active-fg-color;
  color: $toolbar-button-active-fg-color;
}

@mixin alt-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: $button-bg-color;
  border: none;
  border-radius: 3px;
  font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  font-weight: 500;
  color: $button-fg-color;
  text-align: center;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: lighten($button-bg-color, 5%);
  }

  &:focus {
    outline: none !important;
  }
}

@mixin round-button() {
  display: inline-block;
  padding: 10px 15px;
  background-color: $round-button-bg;
  border: none;
  border-radius: 50%;
  font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  font-weight: 500;
  color: $button-fg-color;
  text-align: center;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $round-button-active-bg;
  }

  &:focus {
    outline: none !important;
  }
}

@mixin dialog-button {
  display: inline-block;
  padding: 10px 15px;
  background-color: $button-bg-color;
  border: none;
  border-radius: 3px;
  font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  font-weight: 500;
  color: $button-fg-color;
  text-align: center;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: $toolbar-button-active-fg-color;
  }

  &:focus {
    outline: none !important;
  }
}

//Features

@mixin form-field($input-width, $input-height, $display, $margin) {
  ::ng-deep .mat-form-field {
    margin: $margin;
    display: $display;
    width: $input-width;
    font-size: $base-font-size;
    cursor: pointer;

    .mat-form-field-flex {
      background-color: #e8f0fe;
      cursor: pointer;
    }

    .mat-input-element {
      color: $alt-font-color;
      cursor: pointer;
    }
    .mat-form-field-label {
      color: $alt-font-color;
      cursor: pointer;
    }
    .mat-form-field-underline {
      background-color: $alt-font-color;
    }
    .mat-form-field-ripple {
      background-color: $alt-font-color;
    }
    .mat-form-field-required-marker {
      color: $alt-font-color;
    }
  }

  ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: $alt-font-color;
    }
    .mat-form-field-ripple {
      background-color: $alt-font-color;
    }
    .mat-form-field-required-marker {
      color: $alt-font-color;
    }
    .mat-input-element {
      color: $alt-font-color;
    }
  }
}

@mixin tabs {
  .mat-tab-label {
    font-size: $tabs-font-size;
    font-weight: 600;
    color: $tab-font-color;
  }

  .mat-tab-label.mat-tab-label-active {
    font-weight: 700;
    color: $tab-active-font-color;
  }

  .mat-ink-bar {
    background-color: $tab-ink-bar;
  }
}

@mixin table {
  table {
    margin-top: $table-margin;
    background-color: $table-bg-color;
    width: 100%;

    .mat-header-cell {
      font-size: $header-font-size;
      font-weight: 700;
      text-align: center;
      color: $header-font;
    }

    .mat-cell {
      font-weight: 500;
      text-align: center;
      color: $cell-font;
    }

    .mat-row {
      cursor: pointer;
    }

    tr.detail-row {
      height: 0;
      cursor: default;
    }

    tr.element-row:not(.expanded-row):hover {
      background: whitesmoke;
    }

    tr.element-row:not(.expanded-row):active {
      background: #efefef;
    }

    .element-row td {
      border-bottom-width: 0;
    }

    td.element-detail-container {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .element-detail {
      display: flex;
      align-items: center;
      overflow: hidden;

      .expanded-detail-wrapper {
        width: 79%;

        p {
          padding-left: 35px;
          text-align: left;
          font-weight: 700;
          color: $header-font;

          span {
            display: inline-block;
            padding-left: 15px;
            font-weight: 500;
            color: $cell-font;
          }
        }
      }

      button {
        @include alt-button();
      }
    }
  }
}

@mixin paginator {
  .mat-paginator {
    margin-bottom: $table-margin;
    background-color: $paginator-bg-color;
  }

  ::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $paginator-color !important;
  }

  ::ng-deep .mat-option {
    color: $paginator-color;
  }

  ::ng-deep .mat-select-value {
    color: $paginator-color;
  }
}








