@import "../meta/size-meta.scss";

@mixin background-image {
  background-size: cover;
  background-attachment: fixed;
}

@mixin h1($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $h1-font-size;
  font-weight: 400;
  color: $alt-font-color;
}

@mixin h2($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $h2-font-size;
  font-weight: 600;
  color: $alt-font-color;
}

@mixin p($margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: $p-font-size;
  font-weight: 600;
  color: $alt-font-color;
}

@mixin button($input-width, $input-height, $display) {
  display: $display;
  width: $input-width;
  height: $input-height;
  padding-left: 15px;
  background-color: $button-bg-color;
  border: none;
  font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
  font-weight: 500;
  color: $button-fg-color;
  text-align: left;
  transition: 0.3s ease-in;
  cursor: pointer;

  &:hover {
    background-color: lighten($button-bg-color, 5%);
  }
}

@mixin form-field($input-width, $input-height, $display, $margin) {
  ::ng-deep .mat-form-field {
    margin: $margin;
    display: $display;
    width: $input-width;
    font-size: $base-font-size;
    cursor: pointer;

    .mat-form-field-flex {
      background-color: #e8f0fe;
      cursor: pointer;
    }

    .mat-input-element {
      color: $alt-font-color;
      cursor: pointer;
    }
    .mat-form-field-label {
      color: $alt-font-color;
      cursor: pointer;
    }
    .mat-form-field-underline {
      background-color: $alt-font-color;
    }
    .mat-form-field-ripple {
      background-color: $alt-font-color;
    }
    .mat-form-field-required-marker {
      color: $alt-font-color;
    }
  }

  ::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: $alt-font-color;
    }
    .mat-form-field-ripple {
      background-color: $alt-font-color;
    }
    .mat-form-field-required-marker {
      color: $alt-font-color;
    }
    .mat-input-element {
      color: $alt-font-color;
    }
  }
}

@mixin toolbar-button {
  padding: $toolbar-button-padding;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $toolbar-bg-color;
  font-family: "Saira Condensed", Arial, Helvetica, sans-serif;
  font-size: $toolbar-button-font-size;
  font-weight: 700;
  color: $toolbar-button-fg-color;
  transition: 0.3s linear;
  cursor: pointer;

  .mat-icon {
    display: inline-block;
    padding-right: 27px;
    vertical-align: middle;
    color: $toolbar-button-icon-fg-color;
  }

  &:hover {
    border-bottom: 2px solid $toolbar-button-active-fg-color;
    color: $toolbar-button-active-fg-color;
  }
}

@mixin toolbar-button-active {
  border-bottom: 2px solid $toolbar-button-active-fg-color;
  color: $toolbar-button-active-fg-color;
}

@mixin absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin panel {
  @include absolute();
  width: $panel-width;
  padding: $panel-padding;
  background-color: $panel-part-bg;
}

@mixin tabs {
  .mat-tab-label {
    color: $alt-font-color;
    font-weight: 600;
  }

  .mat-tab-label.mat-tab-label-active {
    color: $alt-font-color;
    font-weight: 700;
  }

  .mat-ink-bar {
    background-color: $alt-font-color;
  }
}

@mixin table {
  table {
    width: 100%;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  .element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .element-description {
    padding: 16px;
  }

  .element-description-attribution {
    opacity: 0.5;
  }
}
