//inputs and buttons - size
$input-width: 500px;
$input-height: 50px;

//toolbar size
$toolbar-height: 64px;
$toolbar-width: 100%;

//fonts size
$h1-font-size: 26px;
$h2-font-size: $h1-font-size - 4px;
$p-font-size: $h1-font-size - 8px;
$base-font-size: 16px;
$calendar-font-size: $base-font-size - 2px;

//toolbar button
$toolbar-button-padding: 0 25px 0 10px;
$toolbar-button-font-size: $base-font-size - 2px;

//user panel content
$booking-history-height: 100vh;
$calendar-height: 300vh;
$client-info-height: 140vh;
$change-password-height: 87vh;
$panel-width: 75vw;
$panel-padding: 40px 60px;

//tabs
$tabs-font-size: $base-font-size;

//table
$table-margin: 25px;
$header-font-size: $base-font-size - 2px;
$cell-font-size: $header-font-size - 2px;

//calendar
$calendar-cell-width: 192px;


