//inputs and buttons - size
$input-width: 500px;
$input-height: 50px;

//toolbar size
$toolbar-height: 64px;
$toolbar-width: 100%;

//fonts size
$h1-font-size: 26px;
$h2-font-size: $h1-font-size - 4px;
$p-font-size: $h1-font-size - 8px;
$base-font-size: 16px;

//toolbar button
$toolbar-button-padding: 0 25px 0 10px;
$toolbar-button-font-size: $base-font-size - 2px;

//user panel content
$user-panel-content-min-height: 150vh;
