//font
$base-font-color: #000;
$alt-font-color: #0F1E44;

//inputs
$input-bg-color: #E8F0FE;

//buttons
$button-bg-color: #FF5614;
$button-fg-color: #fff;

//toolbar
$toolbar-bg-color: #fff;
$toolbar-border-color: #E8E8E8;

//toolbar buttons
$toolbar-button-fg-color: #FF5614;
$toolbar-button-icon-fg-color: #5B7D97;

$toolbar-button-active-fg-color: #0599e3;

//panel background
$panel-wrapper-bg: rgb(232, 239, 243, 0.15);
$panel-part-bg: rgb(232, 239, 243, 0.5);
