//font
$base-font-color: #000;
$alt-font-color: #0F1E44;

//inputs
$input-bg-color: #E8F0FE;

//buttons
$button-bg-color: #FF5614;
$button-fg-color: #fff;

//toolbar
$toolbar-bg-color: #fff;
$toolbar-border-color: #E8E8E8;

//toolbar buttons
$toolbar-button-fg-color: #FF5614;
$toolbar-button-icon-fg-color: #5B7D97;
$toolbar-button-active-fg-color: #0599e3;

//panel background
$panel-wrapper-bg: rgb(232, 239, 243, 0.15);
$panel-part-bg: rgb(232, 239, 243, 0.5);
$calendar-wrapper-bg: rgb(232, 239, 243, 0.5);
$calendar-bg: rgb(232, 239, 243, 0.5);

//tabs
$tab-font-color: #0F1E44;
$tab-active-font-color: #0F1E44;
$tab-ink-bar:#0F1E44;

//table
$header-font: #0F1E44;
$cell-font: #5B7D97;
$table-bg-color: rgba(255, 255, 255, 0.4);

//paginator
$paginator-color: $base-font-color;
$paginator-bg-color: rgba(255, 255, 255, 0.85);

//calendar
$round-button-bg: #FF5614;
$round-button-active-bg: #0599e3;
$tr-header-border: #0F1E44;
$tr-border: gray;
$card-bg: #FF5614;
$card-hover-bg: #0599e3;
$card-active-bg: green;
$card-active-hover-bg: #e23023;
$content-active: #E8F0FE;
