@import "../../../../utils/mixins-meta.scss";

td.card {
  display: inline-block;
  height: 168px;
  width: 182px;
  margin: 5px;
  background-color: $card-bg;
  border: 1px solid transparent;
  border-radius: 3px;
  letter-spacing: 1px;
  color: $content-active;
  transition: 0.3s ease-in;
  cursor: pointer;

  div.content {
    padding: 15px;

    p {
      font-size: $calendar-font-size;
    }


    div.duration {
      display: flex;
      align-items: center;

      p.hour {
        font-weight: 700;
      }

      .mat-icon {
        font-weight: 500;
        margin-right: 5px;
      }

      span {
        display: inline-block;
        margin-left: 5px;
        font-size: $calendar-font-size;
      }
    }
  }

  &:hover {
    background-color: $card-hover-bg;
  }
}

td.card.active {
  background-color: $card-active-bg;
}

td.card.locked {
  background-color: $card-locked-bg;
}

