<nav class="toolbar-wrapper">
  <mat-toolbar>
    <mat-toolbar-row>
      <section class="left-container">
        <div class="logo">
          <img src="../../../../assets//images/logo.png" alt="logo.png">
        </div>
      </section>
      <section class="right-container">
        <button class='toolbar-button'>
          <mat-icon>power_settings_new</mat-icon> Sign out
        </button>
      </section>
    </mat-toolbar-row>
    <mat-toolbar-row class="second">
      <section class="center-container">
        <button class='toolbar-button'>
          <mat-icon>room</mat-icon> My Gym
        </button>
        <button class='toolbar-button'>
          <mat-icon>lock</mat-icon> Book
        </button>
        <button class='toolbar-button'>
          <mat-icon>today</mat-icon> Booking History
        </button>
        <button class='toolbar-button'>
          <mat-icon>account_circle</mat-icon> Profile
        </button>
      </section>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>

