@import '../../../meta/theme-meta.scss';
@import '../../../meta/mixins-meta.scss';

section.wrapper {
  position: relative;
  min-height: $booking-history-height;
  width: 100%;
  background-image: url(../../../../assets/images/4.jpg);
  @include background-image();
  background-position: center center;

  section.layer {
    min-height: 100vh;
    width: 100vw;
    background-color: $panel-wrapper-bg;
  }

  div.panel-container {
    @include panel();

    h2 {
      @include h2(50px);
      text-align: center;
    }

    @include tabs();
  }
}
