<section class="wrapper">
  <section class="layer">
    <div class="panel-container">
      <h2>Booking history</h2>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Active">
          <ng-template matTabContent>
            <app-booking-table></app-booking-table>
          </ng-template>
        </mat-tab>
        <mat-tab label="Cancelled">
          <ng-template matTabContent>
            <app-booking-table></app-booking-table>
          </ng-template>
        </mat-tab>
        <mat-tab label="All">
          <ng-template matTabContent>
            <app-booking-table></app-booking-table>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</section>
