@import './../../../utils/mixins-meta.scss';

section.main-page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-image: url(./../../../../assets/images/main.jpg);
  background-position: center center;
  @include background-image();

  section.left-wrapper {
    position: relative;
    height: 100%;
    width: 47%;

    app-sign-in-part{
      @include absolute();
    }
  }

  section.right-wrapper {
    height: 100%;
    width: 53%;
    background-color: white;
    opacity: 0.3;
  }
}
