<div class="calendar-panel-wrapper">
  <div class="header">
    <h1>Book classes in: <span>{{currentGym.name}}</span></h1>
    <button (click)="this.redirectToGymSelection()">Change Club</button>
  </div>
  <div class="content">
    <mat-form-field appearance="fill">
      <mat-label>Area</mat-label>
      <mat-select [value]="currentArea" #area (selectionChange)="changeCurrentArea(area.value)">
        <mat-option *ngFor='let area of areas' [value]='area'>{{area}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Activities</mat-label>
      <mat-select [value]="currentActivity" #activity (selectionChange)="changeCurrentArea(activity.value)">
        <mat-option *ngFor='let activity of activities' [value]='activity'>{{activity}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button>Reset</button>
  </div>
</div>
