<div class="calendar-panel-wrapper">
  <div class="header">
    <h1>Book classes in: <span>{{currentGym.name}}</span></h1>
    <button (click)="this.redirectToGymSelection()">Change Club</button>
  </div>
  <div class="content">
    <mat-form-field appearance="fill">
      <mat-label>Area</mat-label>
      <mat-select>
        <mat-option *ngFor='let area of areas' [value]='area' (change)="changeCurrentArea(area)">{{area}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Classes</mat-label>
      <mat-select>
        <mat-option *ngFor='let activity of activities' [value]='activity' (change)="changeCurrentArea(activity)">{{activity}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Trainer</mat-label>
      <mat-select>
        <mat-option *ngFor='let trainer of trainers' [value]='trainer' (change)="changeCurrentArea(trainer)">{{trainer}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button>Reset</button>
  </div>
</div>
