*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/theming';

@include mat-core();

$GymSolutions-Web-Client-primary: mat-palette($mat-indigo);
$GymSolutions-Web-Client-accent: mat-palette($mat-pink, A200, A100, A400);

$GymSolutions-Web-Client-warn: mat-palette($mat-red);

$GymSolutions-Web-Client-theme: mat-light-theme((
  color: (
    primary: $GymSolutions-Web-Client-primary,
    accent: $GymSolutions-Web-Client-accent,
    warn: $GymSolutions-Web-Client-warn,
  )
));

@include angular-material-theme($GymSolutions-Web-Client-theme);

