//colors
$all-primary-1: #FF5614;
$all-primary-2: #0599e3;

$all-secondary-1: #E8F0FE;
$all-secondary-2: #fff;

$fg-primary-1: #000;
$fg-primary-2: #0F1E44;

$fg-secondary-1: #5B7D97;

$bg-primary-1: green;
$bg-primary-2: #e23023;

$bg-secondary-1: rgb(232, 239, 243, 0.5);

//font
$base-font-color: $fg-primary-1;
$alt-font-color: $fg-primary-2;

//inputs
$input-bg-color: $all-secondary-1;

//buttons
$button-bg-color: $all-primary-1;
$button-fg-color: $all-secondary-2;

//toolbar
$toolbar-bg-color: $all-secondary-2;
$toolbar-border-color: #E8E8E8;

//toolbar buttons
$toolbar-button-fg-color: $all-primary-1;
$toolbar-button-icon-fg-color: $fg-secondary-1;
$toolbar-button-active-fg-color: $all-primary-2;

//panel background
$panel-wrapper-bg: rgb(232, 239, 243, 0.15);
$panel-part-bg: $bg-secondary-1;
$calendar-wrapper-bg: $bg-secondary-1;
$calendar-bg: $bg-secondary-1;

//tabs
$tab-font-color: $fg-primary-2;
$tab-active-font-color: $fg-primary-2;
$tab-ink-bar:$fg-primary-2;

//table
$header-font: $fg-primary-2;
$cell-font: $fg-secondary-1;
$table-bg-color: rgba(255, 255, 255, 0.4);

//paginator
$paginator-color: $base-font-color;
$paginator-bg-color: rgba(255, 255, 255, 0.85);

//calendar
$round-button-bg: $all-primary-1;
$round-button-active-bg: $all-primary-2;
$tr-header-border: $fg-primary-2;
$tr-border: gray;
$card-bg: $all-primary-1;
$card-hover-bg: $all-primary-2;
$card-active-bg: $bg-primary-1;
$card-locked-bg: $bg-primary-2;
$content-active: $all-secondary-1;

//dialog
$p-font: $fg-primary-1;
$dialog-button-bg: darkgray;
$dialog-button-bg-hover: #444;
